
.body {
    background: url("images/bc.png") no-repeat  center / cover;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 1360px;
    margin-top: 0;
}
.header {
    min-width: 100%;
    align-self: start;
    display: flex;
    margin-top: 0;
    align-items: center; 
    padding-right: 79px;
    padding-left: 79px;
    background: #00000066;
    width: 1366px;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-bottom: 0;
}
.name{
    margin-left:79px ;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;;
    color: #FFFFFF;
    font-size: 22px;
    text-decoration: none;
}
.icons-container{
    margin-left: auto; 
display: flex;
align-items: center;
gap: 29px;
}
.third-icon{
    margin-right: 29px;
}

.log{
    font-family: 'Ubuntu', sans-serif;;
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
} 
.log a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;;
}
.log::before{
    content: "";
    background-color: #FFFFFF;
    height: 19px;
    width: 1px;
    opacity: 0.9;
    position: absolute;
    left:  -29px;
    
}
.first-row{
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
}
.form{
    margin-bottom: 0;
    background-color:#FFFFFF ;
    align-items: center;
    width:322px;
    display: flex;
    flex-wrap: wrap;
    padding-right:  59px;
    padding-left: 59px;
    position: relative;
    justify-content: space-between;
    margin: auto;
    margin-top: 0%;
}
.sign-up{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;;
    color: #434343;
    position: relative;
}
.first-row::before{
    content: '';
    left: 0;
    position: absolute;
    width: 18px;
height: 18px;
background-color: #3CB878;
}

.login{
    margin-left: auto;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;;
    color: #3CB878;
    text-decoration: none;
}
.login:hover{
    color: #01813F;
    text-decoration: underline;
}
.facebook{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    background-color:#305DB8;
    width: 157px;
    align-items: center;
    border-radius:3px ;
    justify-content: space-between;
    padding-right:28px ;
    height: 48px;
    border: #305DB8;
    padding-left: 10px;
    padding-right:23px ;
}
.google{
    font-family: 'Ubuntu', sans-serif;
    border: #DF4A32;
    height: 48px;
    align-items: center;
    display: flex;
    background-color:#DF4A32;
    width: 157px;
    border-radius:3px ;
    justify-content: space-between;
    padding-right:26px ;
    padding-left: 10px;
}
 
.social-media{
    font-family: 'Ubuntu', sans-serif;;
font-size: 16px;
color: #FFFFFF;
position: relative;
}
.social-media::before{
    position: absolute;
    content: '';
    width: 1px;
   height: 28px;
   background-color:#0A162F ;
   opacity: 0.1;
   left: -19px;
   top: -4px;
}
.google p::before{
        position: absolute;
        content: '';
        width: 1px;
       height: 28px;
       background-color:#0A162F ;
       opacity: 0.1;
       left: -32px;
       top: -4px;
}
.dashed-line{
    margin-top: 11px;
    margin-right: 0;
    margin-left: 0;
    border: 1px solid #F2F2F2;
width: 147px;
}
.text-or{
    font-family: 'Ubuntu', sans-serif;
    color: #848484;
    font-size: 14px;
}
.field{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 15px;
    font-size: 14px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0, 14, 56, 0.302);
    padding: 12px 12px 12px ;
    color:#BEBEBE ;
    opacity: 0.5;
}
.field:nth-of-type(1){
    margin-top: 0px;
}
.checkbox-box{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 6px;
}
.checkbox{
    width: 20px;
    height: 20px;
    position: relative;}

    .checkbox:checked::before{
        color: #3CB878;
        border: 1px solid #F2F2F2;
        display: flex;
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url(images/Vect.svg);
        background-repeat: no-repeat ;
        background-size:cover ;
        align-items: center;
        justify-content: center;
       width: 20px;
       height: 20px;
    content: "";
    }
.checkbox::before{
    position: absolute;
    border: 1px solid #F2F2F2 ;
background-color: white;
width: 20px;
height: 20px;
content: "";
}
.checkbox-box label{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #434343;
}
.checkbox-box a{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #3CB878;
    text-decoration: none;
}
.btn-create-account{
    width: 100%;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color:#FFFFFF ;
    background-color:#3CB878CC;
    border: #3CB878;
    margin-top: 20px;
    padding: 13px;
    margin-bottom: 40px;
    border-radius: 3px;
}
.name:hover{
    color: #3CB878;
    text-decoration: none;
}
.icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons-container .first-icon-green,
.icons-container .second-icon-green,
.icons-container .third-icon-green {
    display: none;
}

.icons-container .first-icon:hover .first-icon-green,
.icons-container .second-icon:hover .second-icon-green,
.icons-container .third-icon:hover .third-icon-green {
    display: block;
}

.icons-container .first-icon-white,
.icons-container .second-icon-white,
.icons-container .third-icon-white {
    display: block;
}

.icons-container .first-icon:hover .first-icon-white,
.icons-container .second-icon:hover .second-icon-white,
.icons-container .third-icon:hover .third-icon-white {
    display: none;
}
.log a:hover{
    text-decoration: none;
color:#3CB878 ;
}
.rules:hover{
    text-decoration: underline;
    color:#01813F ;
}
.google:hover{
background-color:#AB1F09 ;
}
.facebook:hover{
    background-color:#022263 ;
}
.btn-create-account:hover{
    background-color:#01813F ;
}
.field:focus{
    box-shadow: 0px 3px 8px 0px #00000036;
outline: none;
}